* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  width: 40%;
  height: 100%;
  margin: auto;
  background-color: rgb(150, 229, 150);
  text-align: center;
  padding: 50px;
}

ul {
  width: 100%;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 30px;
}

p {
  font-size: 24px;
}

todo-input-container {
  width: 100%;
}
input {
  width: calc(100% - 120px);
  margin-bottom: 20px;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: white;
}

button {
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: white;
}
